  body {
	padding-top: 60px; 
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: red;
	background-color: #fff
    }
    input {
	height: 25px !important;
	width:250px;
    }
    tr {
	border: solid black 1px;
    }
    td {
	padding: 0 20px !important;
	text-align: left !important;
	color: #000000
    }
    label {
	padding: 10px 0 0;
    }
    th {
	background-color: #EBEBEB;
	padding: 0 20px !important;
	text-align: left !important;
	color: #000000
    }
/*  to set page margins - used it in the body tag */
#lpage {    
width: 900px;   
margin: 0 auto; 
} 

/* to style to the header   */ 
#talign { 
top:0px; 
left: 0px; 
background-color: #43BB75; 
color: #fff;
padding: 10px 6px;
} 


/* styling menu */
#menu ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

/* styling menu - display in single line */
#menu ul li { display: inline; }

/* styling menu - text*/
#menu ul li a
{
text-decoration: none;
padding: .4em 1em;
color: #fff;
background-color: #43BB75;
border-radius:50px;
}

/* styling menu - setting hover effect*/
#menu ul li a:hover
{
color: #fff;
background-color: #43BB75;
}



tr:nth-child(odd) {background-color: #ccc;}
tr:nth-child(even) {background-color: #ddd;}


textarea{
width: 650px;
height:90px;

}

.resv {
width:100%;
color:#000000;
font-family: Helvetica, Arial, sans-serif;

}

.error {
color:red;
font-weight:bold;
}

#homeDiv {

}

#homeDiv img{
	margin-left: 30px;
}